@{
    ViewData["Title"] = "Home Page";
}

<div id="homeContainer" class="container">
    <div class="text-center">
        <ion-icon id="heroIconSize" size="large" name="cube-outline"></ion-icon>
        <h1 class="display-1">RSS Aggregator</h1>
        <h3 class="display-4">Feed Your RSS To The Web</h3>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <ion-icon size="large" name="library-outline"></ion-icon>
                <h4>Aggregate All Your Feeds</h4>
            </div>
            <hr />
            <div>
                <p>Aggregate all of your RSS feeds in one location and leave the hard work of making it look pretty to the application</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <ion-icon size="large" name="laptop-outline"></ion-icon>
                <h4>Semi-Decent UI</h4>
            </div>
            <hr />
            <div>
                <p>Tired of staring at bland RSS feeds?  Our trademarked Semi-Decent UI will make you love your browser again.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <ion-icon size="large" name="phone-portrait-outline"></ion-icon>
                <h4>On the Go? Challenge Accepted</h4>
            </div>
            <hr />
            <div>
                <p>Whether you are on the move, at work, or at home, your screen will thank you...hopefully...</p>
            </div>
        </div>
    </div>
</div>
