 <div class="card rss-link-card">
    <img class="card-img-top"
         src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.independent.co.uk%2Fs3fs-public%2Fthumbnails%2Fimage%2F2018%2F12%2F24%2F08%2Fspacex-rocket-launch-watch-video-0.jpg&f=1&nofb=1"
         alt="RSS Link Image" />
    <div class="card-body">
        <h5 class="card-title">RSS Link Title</h5>
        <p class="card-text">User description will go here</p>
    </div>
</div>
