@model int

<div class="container">
    <div class="text-right">
        <button class="btn btn-info">New RSS Link</button>
    </div>
    <div class="text-center">
        @if (Model == 0)
        {
            <h1>You have no RSS links saved</h1>
        }
        else
        {
            <div class="row">
                @for (int i = 0; i < 10; ++i)
                {
                    <div class="col-md-4">
                        <partial name="_FeedLinkCard" />
                    </div>
                }
            </div>
        }
    </div>
</div>
